
*.pdf

blog/DSC00658.JPG

blog/MorseBox v0.fzz

blog/MorseBox v0_bb.png

blog/MorseBox.fzz

blog/keyer.md

datasheet/Arduino Diecimila Reference Design/arduino_NGDM.brd

datasheet/Arduino Diecimila Reference Design/arduino_NGDM.sch

datasheet/Atmega168PinMap2.png

datasheet/Micro USB.jpg

datasheet/microusbsocket.jpg

hardware/GKeyer.b#1

hardware/GKeyer.b#2

hardware/GKeyer.sch

hardware/GKeyer.brd

statemachine.graffle

面板/210a25c992357f80c02d02f4eb71391f.jpg

面板/6b2ba402ce58431e1d8ad0094c406126.jpg

面板/a84c2c025ee497cccb2d7bda91484150.jpg

面板/b8e83795f54bd05be2d57eeea3b710b6.jpg

面板/cdf935adeab857fbb17ce20124fd84eb.jpg

面板/f6cde9516c48502730c0c7867314ddaf.png

面板/后面板.brd

面板/面板.brd

面板/面板位置.tif
